/* Base Styles for Mobile */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: 'Alkatra', sans-serif;
    background-color: #f1eeee;
}

header {
    background-color: #3a9adf;
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
}

header img {
    height: 100px;
    border: 3px solid #b6d9e0;
    border-radius: 5px;
    margin-right: 20px;
}

header span {
    color: black;
    font-size: 1.8rem;
}

nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #333;
}

nav a {
    font-size: 1rem;
    font-family: 'Alkatra', sans-serif;
    color:#fdebe2;
    text-align: center;
    text-decoration: none;
}

nav a:hover {
    background-color: #b6d9e0;
    color: #333;
}

/* Hero */
#hero {
    position: relative;
}

#hero-text {
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 1.5rem;
    font-weight: 600;
    background: radial-gradient(#fdebe2, #3a9adf);
    border: 2px solid rgba(0, 0, 0, 0.75);
    opacity: 0.75;
    padding: .5rem;
}

#hero-img {
    width: 100%; height: auto;
    margin-top: 10px;
}
main {
    margin: auto;
    max-width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px 3fr 1fr;
    gap: 1rem;
    background-color: rgb(238, 238, 238);
    color: rgb(0, 0, 0);
}

main h1 {    
    border-bottom: 2px solid #3a9adf;
    text-align: center;
    font-size: 1.3rem;
    margin-top: 15px;
}

.card {
    border: 1.5px solid #3a9adf;
    border-radius: 5px;
    font-size: 1em;
    margin-left: 70px;
    max-width: 50%;
    margin-bottom: 20px;
    gap: 1rem;
}

.card h2 {
    font-size: 1rem;
    background-color: #3a9adf;
    margin: 0;
    text-align: center;
}

.card ul {
    padding: 0;
}


.card li {
    margin-top: 10px;
    padding: 0;
}

.card p {
    font-family: 'Alkatra', sans-serif;
    font-size: 1rem;
    margin-top: 10px;
    text-align: center;
}

ul {
    font-family: 'Comme', sans-serif;
    font-size: 1rem;
    list-style: none;
}

footer {
    background-color: #333;
    color: yellow;
    text-align: center;
    padding: 1rem;
}

footer p:first-of-type {
    color: #fdebe2;
}

#lastModified {
    color: yellow;
    font-size: 1rem;
}

/* Small View Navigation/Menu */
#menu {
	font-size: 1.5rem;
    background-color: #333;
    color: #fdebe2;
    margin-right: 350px;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
    background-color: #333;
	color: #fdebe2;
}

.navigation li {
	display: none;
}

.navigation li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fdebe2;
}

.navigation li a:hover {
	background-color: #b6d9e0;
	color: #333;
	font-weight: 700;
}

.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}

.active::before {
	content: "📍 ";
}

/* Dark mode */
#mode {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 3rem;
	cursor: pointer;
	font-size: 2rem;
}

/* iframe */
iframe {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    padding: 15px;
    border: 0;
}
