/* Base Styles for Mobile */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: 'Alkatra', sans-serif;
    background-color: #f1eeee;
}

header {
    background-color: #3a9adf;
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
}

header img {
    height: 100px;
    border: 3px solid #b6d9e0;
    border-radius: 5px;
    margin-right: 20px;
}

header span {
    color: black;
    font-size: 1.8rem;
}

nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #333;
}

nav a {
    font-size: 1rem;
    font-family: 'Alkatra', sans-serif;
    color:#f5d7c9;
    text-align: center;
    text-decoration: none;
}

nav a:hover {
    background-color: #b6d9e0;
    color: #333;
}

main {
    margin: auto;
    max-width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px 3fr 1fr;
    gap: 1rem;
    background-color: #eee;
}

main h1 {
    text-align: center;
    font-size: 1.3rem;
    border-bottom: 2px solid #3a9adf;
    margin-top: 20px;
}

.card {
    border: 1.5px solid #3a9adf;
    border-radius: 5px;
    font-size: 1em;
    margin-left: 5px;
    max-width: 50%;
    margin-bottom: 20px;
}

.card:first-of-type {
    max-width: 50%;
    margin-right: 135px;
    margin-left: 10px;
}

.card h2 {
    font-size: 1rem;
    background-color: #3a9adf;
    margin: 0;
    text-align: center;
}

.card ul {
    padding: 0;
}


.card li {
    margin-top: 10px;
    padding: 0;
}

.card p {
    font-family: 'Alkatra', sans-serif;
    font-size: 1rem;
    margin-top: 10px;
    text-align: center;
}

ul {
    font-family: 'Comme', sans-serif;
    font-size: 1rem;
    list-style: none;
}

footer {
    background-color: #333;
    color: yellow;
    text-align: center;
}

footer p:first-of-type {
    color: #f1eeee;
}

#lastModified {
    color: yellow;
    font-size: 1rem;
}

/* small view navigation */
#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: .25rem .75rem;
	background-color: #eee;
	color: #000;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❎";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #333;
	color: #fff;
}
.navigation li {
	display: none;
}
.navigation li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation li a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}

.active::before {
	content: "📍 ";
}

#mode {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 3rem;
	cursor: pointer;
	font-size: 2rem;
}