/* Larger Styles for Desktop */
@media screen and (min-width: 500px) {
    body {
        justify-content: center;
    }

    nav {
        flex-direction: row;
        justify-content: center;
    }

    nav a {
        margin: 0 70px; /* Adds horizontal spacing between nav items */
    }

    main {
        display: flex;
        flex-wrap: wrap;
    }

    main h1 {
        font-size: 2rem;
        width: 100%;
    }

    .card {
        margin: 0 0 20px 0;
        grid-row-start: 2;
        grid-template-columns: 80% 20%;
        column-gap: 5px;
        box-shadow: 1px 1px 10px #333;
        padding: 10px;
    }

    .card h2 {
        font-size: 1.5rem;
        min-width: 300px;
    }
}