@media screen and (min-width: 560px) {
    body {
        justify-content: center;
    }

    nav {
        flex-direction: row;
        justify-content: center;
    }

    nav a {
        margin: 0 50px; /* Adds horizontal spacing between nav items */
    }

    main {
        display: flex;
        flex-wrap: wrap;
    }

    main h1 {
        font-size: 2rem;
        width: 100%;
    }

    h2 {
        min-width: 450px;
    }

    .card {
        padding: 15px;
    }
}